---
type Props = {
  port: string;
  isHttps?: boolean;
};

const { port, isHttps = false } = Astro.props;
---

<p>
  <a class="link" href={`http${isHttps ? "s" : ""}://localhost:${port}`} target="_blank" rel="noopener">
    http{isHttps ? "s" : ""}://localhost:{port}
  </a>
  <span> or </span>
  <a class="link" href={`http${isHttps ? "s" : ""}://{{{IP_ADDRESS_VAR}}}:${port}`} target="_blank" rel="noopener">
    {`http${isHttps ? "s" : ""}://{{{IP_ADDRESS_VAR}}}:${port}`}
  </a>
</p>

<style is:inline>
  .sl-container .sl-markdown-content a:not(:where(.not-content .link)) {
    color: var(--sl-color-text-accent);
  }

  .sl-container .sl-markdown-content a:is(:hover, :focus-visible):not(:where(.not-content .link)) {
    color: var(--sl-color-accent);
  }
</style>
