---
import { Badge, Code } from "@astrojs/starlight/components";
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  lang: "ts" | "css" | "html" | "sh" | "python";
  frame?: "code" | "auto" | "terminal" | "none" | undefined;
  code: string;
  tags?: string[];
}

const { title, lang, frame, code, tags } = Astro.props;

const langColorMap = {
  ts: "var(--sl-color-blue-high)",
  css: "var(--sl-color-blue)",
  html: "#e34c26",
  sh: "var(--sl-color-green)",
  python: "#ffde57",
};
---

<article class="card sl-flex">
  <p class="title sl-flex">
    {lang && <Icon name={lang} size="1.5em" style={{ color: langColorMap[lang] }} />}
    <span set:html={title} />
  </p>
  <div class="tags-container">
    {tags && tags.map((tag) => <Badge text={tag} variant="caution" />)}
  </div>
  <div><Code lang={lang} frame={frame ?? "auto"} preserveIndent wrap code={code} /></div>
</article>

<style>
  .card {
    border: 1px solid var(--sl-color-gray-5);
    background-color: var(--sl-color-gray-6);
    padding: clamp(1rem, calc(0.125rem + 3vw), 2.5rem);
    flex-direction: column;
    gap: clamp(0.5rem, calc(0.125rem + 1vw), 1rem);
  }
  .title {
    font-weight: 600;
    font-size: var(--sl-text-h4);
    color: var(--sl-color-white);
    line-height: var(--sl-line-height-headings);
    gap: 1rem;
    align-items: center;
  }
  .tags-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
</style>
