---
import { borderColorVariants, colorVariants } from "@/lib/constants";
import { getVariant } from "@/lib/utils";
import { Code } from "@astrojs/starlight/components";
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const cheatsheets = await getCollection("cheatsheets");

  return cheatsheets.map((cheatsheet) => ({
    params: { id: cheatsheet.id },
    props: { cheatsheet },
  }));
}

const { cheatsheet } = Astro.props;
---

<StarlightPage frontmatter={{ title: cheatsheet.data.title, tableOfContents: false, prev: false, next: false }}>
  {
    cheatsheet.data.groups.map((group) => (
      <div>
        <h2>{group.title}</h2>
        <p class="group-description">{group.description}</p>
        <div class="grid">
          {group.items.map((item, index) => (
            <div class="cheatsheet-card" style={{ borderColor: getVariant(borderColorVariants, index), color: getVariant(colorVariants, index) }}>
              <h3>{item.label}</h3>
              <p class="item-description">{item.description}</p>

              {item?.example && (
                <>
                  <code>{item.example}</code>
                </>
              )}
              {item?.comment && (
                <>
                  <div class="comment">{item.comment}</div>
                </>
              )}
              {item?.code && <Code lang="sh" wrap preserveIndent code={item.code} />}
            </div>
          ))}
        </div>
      </div>
    ))
  }
</StarlightPage>

<style is:inline>
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 1fr));
    gap: 10px;
    margin: 0 auto 30px;
  }

  h2,
  .item-description {
    margin-bottom: 10px;
  }

  .group-description {
    margin-bottom: 20px;
  }

  .cheatsheet-card {
    padding: clamp(1rem, calc(0.125rem + 1.5vw), 2.5rem);
    border-radius: 0.5rem;
    border: 1px solid var(--sl-color-gray-5);
  }

  .cheatsheet-card p {
    margin-bottom: 0;
  }

  .comment {
    margin-top: 10px;
    font-size: 0.8rem;
    font-family: monospace;
    line-height: normal;
    color: var(--sl-color-gray-3);
  }

  /* ==== Overrides ==== */

  .sl-container {
    --sl-content-width: 80rem;
  }

  .sl-markdown-content :not(a, strong, em, del, span, input, code, br) + :not(a, strong, em, del, span, input, code, br, :where(.not-content *)) {
    margin-top: 0;
  }
</style>
